/* 
*this is the primary css for the whole website. 
*the color pallete is #013C57 #5994A4 #7DC8D8 #242424
*ask me if you want to add another color. We could probably use something bright as an accent color 
*/
body{
    margin: 0;
    padding: 0;
    background-color:  #242424; 
}


/* CSS for header.php */
header{
    height: 125px;
    width: 100%;
    background-color: #013C57;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;   
}
header > button{
    background-color: #5994A4;
    color: black;
    height: 40px;
    width: 40px;
    cursor: pointer;
}
header > a{
    color: white;
    text-decoration: none;
}
header > a:hover{
    color: lightgrey;
}
#search-bar{
    height: 35px;
    width: 400px;
    border-radius: 25px;
    padding-left: 25px;
}
#search-button{
    visibility: hidden;
}
/* End css for header.php */


.form-header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    background-color: #242424;
}

.form-header a{
    color: white;
    text-decoration: none;
}

/* CSS for the index.php */
main{
    color: white;
}
#index-body{
    height: 100vh;
    margin: 0;
    padding: 0;
}
#index-picture{
    width: 100%;
}
.carousel{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
}
.slide{
    width: 100%;
    position: absolute;
    transition: all 0.5s;
    display: flex;
    justify-content: space-evenly;
}
.chevron{
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 8%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
}
.chevron:active{
    transform: scale(1.1);
}
#left-chevron{
    top: 45%;
    left: 2%;
}
#right-chevron{
    top: 45%;
    right: 2%;
}
#products-title{
    text-align: center;
    padding-top: 10px;
    font-size: 50px;
    color: white;
}
.car-grid{
    display: grid;
    padding-top: 30px;
    margin-left: 12%;
    padding-bottom: 50px;
    height: 650px;
    width: 85%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 50px;
}
.item-link{
    display: grid;
    height: 100%;
    width: 250px;
    text-decoration: none;
    row-gap: 10px;
    box-shadow: 0 0 10px #707070;
}
.item-link:hover{
    transform: scale(1.1);
}
.grid-item{
    color: white;
    height: 100%;
    width: 100%;
    background-color: white;
}
.grid-item > img{
    height: 150px;
    width: 100%;
}
.car-name{
    color: black;
    margin-left: 10px;
}
.car-price{
    color: black;
    margin-left:10px;
    padding-bottom: 5px;
}
.car-miles{
    color: black;
    margin-left: 10px;
}
.grid-item hr{
    padding-bottom: 10px;
}
#popular-searches-header{
    text-align: center;
    font-size: 50px;
}
#popular-searches{
    height: 400px;
    width: 100%;
    background-color: #5994A4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* Filters section for index */

#filters-container{
    /* TODO */
    width: 50%;
    margin:auto;

}

#filters-form{
    
}
label{
    color: white;
}
/* End filters section for index */

/* End css for the index.php */


/* Footer section */
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;   
    background-color: #013C57;
    height: 60px;
    width: 100%;
}
footer a{
    color: #5994A4;
    text-decoration: none; 
}
/* End footer section */

/* CSS for Login page */
.login-container{
    position: relative; 
    height: fit-content;
    margin: auto;
    padding-top: 3px;
    padding-bottom: 10px;
    width: 20%;
    background-color: white;
    border-radius: 10px;
}
#login-title{
    text-align: center;
    font-size: 40px;
    color: #013C57;
}
.login-content label{
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 12%;
    display: block;
    font-size: 14px;
    color: #013C57;
}
.login-content input{
    margin-left: 12%;
    display: block;
    height: 40px;
    width: 75%;
    border-color: lightgrey;
    border-radius: 5px;
}
.login-submit{
    display: flex;
    justify-content: center;
    align-items: center;
}

 #login-button, #logout-button{ /* TODO fix logout-button */
    background-color: #013C57;
    border-width: thin;
    margin-top: 30px;
    height: 50px;
    width: 77%;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
#login-button:hover{
    background-color: #00344e;
}

.register-link{
    padding-top: 15px;
    text-align: center;
    color: #013C57;
}
.login-container a{
    text-decoration: none;
    font-weight: bold;
    color: #013C57;
}
/* Log In page ends */

/* Register Page */
.register-container{
    position: relative;
    height: fit-content;
    margin: auto;
    padding-top: 3px;
    padding-bottom: 50px;
    width: 30%;
    background-color: white;
    border-radius: 10px;
}
#register-title{
    text-align: center;
    font-size: 40px;
    color: #013C57;
}
.register-content label{
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 12%;
    display: block;
    font-size: 14px; 
    color: #013C57; 
}
.register-content input{
    margin-left: 12%;
    display: block;
    height: 40px;
    width: 75%;
    border-color: lightgrey;
    border-radius: 5px;
}
.register-submit{
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-submit button{
    background-color: #013C57;
    border-width: thin;
    margin-top: 30px;
    height: 50px;
    width: 77%;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
#register-button:hover{
    background-color: #00344e;
}

#password-status{
    margin-left: 12%; 
    margin-top: 10px;
}

/* START css for Cart.php */
.invisible {
    visibility: hidden;
}

#cart-title{
    color: white;
    text-align: center;
}

.cart-product-name{
    color: white;
    margin-left: 6%;
    font-size: 1.5em;
}

.cart-product-img{
    width: 300px;
    border: solid thin black;
}

.product-container{
    display: flex;
}

.product-container{
    display: flex;
    flex-direction: row;
    width: max-content;
    background-color:#5994A4;
    margin-top: 30px;
    padding: 20px;
}

.specs-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}

.price-mileage{
    display: flex;
    flex-direction: row;
}

.product-spec{
color: white;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.product-container .product-spec{
    padding-right: 100px;
}

.product-container form{
    position: relative;
    right: -65%;
    top: -90%;
}

.remove-cart-item-button{
    height: 35px;
    width: 35px;
    position: relative;
    color: white;
    background-color:#013C57;
    cursor: pointer;
}
.remove-cart-item-button:hover{
    background-color: #00344e;
}

.cart-show-details{
    position: relative;
    color: white;
    margin-top: 200px;
}

/* END css for Cart.php */

/* START css for product.php */
p.product-specs-p{
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.product-page-img{
    height: 300px;
}

#product-name{
    color: white;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#product-page-body{
    background-color: #242424;
}



/* END css for product.php */


/* START css for cart.php */





/* END css for cart.php */