/* this is the primary css for the whole website. 
*the color pallete is #013C57 #5994A4 #7DC8D8 #242424
*ask me if you want to add another color. We could probably use something bright as an accent color 
*/
body{
    margin: 0;
    padding: 0;
    background-color: #5994A4; 
}